<footer class="footer">
    <div class="footer-text">
        <p>Horario de atención: 08h - 20h (Lunes a Sábado)</p>
        <p>Desarrollado por Aura Latam Proyectos Activos en Rima comerciales.</p>
    </div>
    <div class="social-links">
        <a href="#" class="social-link" aria-label="WhatsApp"><img class="footer__social-media-icon" alt="" src="./img/whatsapp-1.svg" /></a>
        <a href="#" class="social-link" aria-label="Instagram"><img class="footer__social-media-icon" alt="" src="./img/instragam-1.svg" /></a>
        <a href="#" class="social-link" aria-label="Facebook"><img class="footer__social-media-icon" alt="" src="./img/twiter-1.svg" /></a>
    </div>
</footer>