<div class="container wrapper">
    <h1>Condiciones de Pago</h1>
    <div class="payment-conditions">
        <div class="text-content">
            <h3 class="title">"Pago a plazos de hasta 12 cuotas"</h3>
            <p class="description">Viaja pagando en hasta 12 cuotas con tarjeta, al contado en efectivo o con un descuento del 5% al pagar en una sola exhibición.</p>
        </div>
        <div class="image-grid">
            <img src="{{'img/montaje-japo-1@2x.png' | relative_url}}" alt="Planificación de viaje">
            <img src="{{'img/montaje-japo-2@2x.png' | relative_url}}" alt="Pago con tarjeta">
            <img src="{{'img/montaje-japo-3@2x.png' | relative_url}}" alt="Viajeros felices">
        </div>
    </div>
</div>