<section class="categories wrapper">
    <h1>Busca por Categoría</h1>
    <div class="category-container">
        <div class="category-item">
            <span class="material-symbols-outlined">hiking</span>
            <p>Paquetes Nacionales</p>
        </div>
        <div class="category-item">
            <span class="material-symbols-outlined">flight</span>
            <p>Paquetes Internacionales</p>
        </div>
        <div class="category-item">
            <span class="material-symbols-outlined">airport_shuttle</span>
            <p>Transfer</p>
        </div>
        <div class="category-item">
            <span class="material-symbols-outlined">vpn_lock</span>
            <p>Seguro de Viaje</p>
        </div>
    </div>
</section>
