<nav class="navbar">
    <a href="#" class="logo">
        <img 
          src="{{'img/Logo-provisória-branca-2.png' | relative_url}}" 
          alt="Osaka">
    </a>
    
    <!-- Checkbox para activar el menú hamburguesa -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <ul class="nav-menu">
        <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Paquetes de viaje</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
    </ul>
</nav>
