<section class="ofertas-semana wrapper">
    <h1>Ofertas de la semana</h1>
    <div class="grid-container wrapper">
        <article class="card">
            <div class="card__img" style="background-image: url('{{ "img/tokyo.png" | relative_url }}');"></div>

            <div class="card__content">
                <h3>Japón</h3>
                <p>$4000</p>
                {% include botton-main.html %}
            </div>
        </article>                  

        <article class="card">
            <div class="card__img" style="background-image: url('{{ "img/san-andreas.png" | relative_url }}');"></div>
            <div class="card__content">
                <h3>San Andreas</h3>
                <p>$3000</p>
                {% include botton-main.html %}
            </div>
        </article>
    </div>
</section>
