<div class="container wrapper">
    <h1>Destinos Populares</h1>
    <div class="destinations">
        <div class="destination-card">
            <img src="{{'img/tokyo@2x.png' | relative_url}}" alt="Tokyo" class="destination-image">
            <div class="destination-content">
                <h3 class="destination-title">Tokyo</h3>
                <p class="destination-description">Tokyo es una ciudad vibrante y cosmopolita, con sus templos históricos, museos de arte moderno y rascacielos icónicos. No pierdas la oportunidad de sumergirte en su fascinante atmósfera.</p>
                {% include botton-main.html %}
            </div>
        </div>
        <div class="destination-card">
            <img src="{{'img/osaka@2x.png' | relative_url}}" alt="Osaka" class="destination-image">
            <div class="destination-content">
                <h3 class="destination-title">Osaka</h3>
                <p class="destination-description">Osaka es una ciudad animada y moderna en Japón. La ciudad es famosa por su deliciosa gastronomía y por ser un excelente punto de partida para explorar otras ciudades japonesas.</p>
                {% include botton-main.html %}
            </div>
        </div>
    </div>
</div>