<div class="container ">
    <h1>Testimonios</h1>
    <div class="testimonials wrapper">
        <div class="testimonial">
            <img src="{{'img/ellipse-1@2x.png' | relative_url}}" alt="Ana Lopes" class="profile-img">
            <h3 class="client-name">Ana Lopes</h3>
            <div class="rating">★★★★★</div>
            <p class="testimonial-text">La jornada de viaje que me armaron supero de todas las expectativas. El servicio al cliente fue excepcional y todo el equipo fue muy atento y servicial.</p>
        </div>
        <div class="testimonial">
            <img src="{{'img/avatar-amari@2x.png' | relative_url}}" alt="Amari Salin" class="profile-img">
            <h3 class="client-name">Amari Salin</h3>
            <div class="rating">★★★★★</div>
            <p class="testimonial-text">Su propuesta de itinerario se ajustó a mis preferencias. Ofrecen un servicio personalizado y de alta calidad que supera mis expectativas en mi viaje.</p>
        </div>
        <div class="testimonial">
            <img src="{{'img/avatar-lauro@2x.png' | relative_url}}" alt="Laura B. Matos" class="profile-img">
            <h3 class="client-name">Laura B. Matos</h3>
            <div class="rating">★★★★★</div>
            <p class="testimonial-text">Mi viaje con La Jornada fue increíble! Se lo recomiendo mucho si buscan una experiencia personal y personalizada.</p>
        </div>
    </div>
</div>

<div class="banner">
    <img class="banner__img" alt="Descripción del viaje" src="{{'img/pre-footer-image.png' | relative_url}}" />
</div>  